.wrapper {
  font-size: 30px;
  color: #fff;
}
.recipes_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  gap: 10px;
}
.search_input_wrapper {
  width: 100%;
  position: relative;
}
.search_input {
  width: 100%;
  padding: 10px 20px;
  background-color: #1f222a;
  border: 1px solid #1f222a;
  border-radius: 10px;
  color: #ffffff;
}
.search_input:active,
.search_input:focus {
  background-color: #1e1d31;
  border-color: #6842ff;
  outline: none;
}
.search_button {
  position: absolute;
  width: 20px;
  height: 20px;
  top: calc(50% - 10px);
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}
.search_button_icon {
  color: #6842ff;
  width: 20px;
  height: 20px;
}
.search_button_icon:hover {
  cursor: pointer;
}
.search_input:active.search_button_icon,
.search_input:focus.search_button_icon {
  color: #f7f7f7;
}
