.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  min-height: 100vh;
  background: linear-gradient(to bottom, #181B20, #121622);
  color: #fff;
}

.title {
  font-size: 40px;
  text-align: center;
  cursor: default;
}

.error {
  width: 400px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #6b5bab;
  text-align: center;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.forgot {
  font-size: 14px;
  color: #7755ff;
  text-decoration: none;
}