.create_wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  cursor: default;
  color: var(--main-font);
}

.create_title {
  margin-bottom: 5px;
}

.create_content {
  display: flex;
  width: 100%;
  column-gap: 2rem;
  justify-content: space-around;
}

.create_subtitle {
  margin-bottom: 15px;
  font-weight: 300;
}

.create_return {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 34px;
  transition: 0.5s;
  cursor: pointer;
  color: var(--icon);
}

.create_return:hover {
  color: #7755ff;
  transition: 0.5s;
}

@media (max-width: 870px) {
  .create_wrapper {
    padding-top: 120px;
  }

  .create_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
    justify-content: space-around;
  }

  .create_return {
    top: 95px;
  }
}

@media (max-width: 600px) {
  .create_wrapper {
    padding-top: 150px;
  }

  .create_return {
    top: 120px;
  }
}

@media (max-width: 450px) {
  .create_wrapper {
    padding-top: 60px;
  }

  .create_return {
    top: 20px;
  }

  .create_title {
    font-size: 26px;
  }

  .create_subtitle {
    font-size: 13px;
    text-align: center;
  }
}