.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.exercises {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem 0rem;
}



.button {
  font-size: 2rem;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}
