.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.icon {
  font-size: 1.8rem;
  color: #828283;
  cursor: pointer;
}

.title {
  font-size: 14px;
  color: #828283;
}