.wrapper {
  font-size: 30px;
  color: #fff;
  width: 100%;
  padding: 10px;
}

.recipes {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 10px;
}

@media (max-width: 1120px) {
  .recipes {
    grid-template-columns: repeat(3, 4fr);
  }
}

@media (max-width: 870px) {
  .recipes {
    grid-template-columns: repeat(2, 6fr);
  }
}
