.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 120px 0;
  flex-grow: 1;
  font-size: 30px;
  color: #fff;
}

.links {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 70px;
}

.link {
  flex-basis: calc(50% - 15px);
  text-align: center;
  border: 1px solid #7755ff;
  text-decoration: none;
  max-width: 250px;
  border-radius: 10px;
  padding: 0.4rem 0;
  color: #dedede;
  font-size: 1.2rem;
  transition: 0.5s;
}

.link:hover,
.link_active:hover {
  color: #ffffff;
  background-color: #7755ff;
  box-shadow: 0px 0px 10px 5px rgba(119, 85, 255, 0.2);
  transition: 0.5s;
}

.link_active {
  flex-basis: calc(50% - 15px);
  text-align: center;
  color: #ffffff;
  background-color: #7755ff;
  border: 1px solid #7755ff;
  text-decoration: none;
  max-width: 250px;
  border-radius: 10px;
  padding: 0.4rem 0;
  font-size: 1.2rem;
}

.decription {
  padding: 20px;
  font-size: 24px;
}

@media (max-width: 1120px) {
  .wrapper {
    padding: 60px 90px 0;
  }

  .links {
    gap: 15px;
  }

  .link,
  .link_active {
    max-width: 200px;
  }
}

@media (max-width: 870px) {
  .wrapper {
    padding: 60px 60px 120px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 60px 40px 105px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    padding: 60px 0 105px;
  }
}