.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  row-gap: 40px;
  background: linear-gradient(to bottom, #181B20, #121622);
  color: #fff;
}

.title {
  font-size: 50px;
  text-align: center;
  cursor: default;
}

.error {
  width: 400px;
  font-size: 16px;
  margin-bottom: 20px;
  color: #6b5bab;
  text-align: center;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #464648;
}

.form {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}