.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  column-gap: 1rem;
}

.exercises {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  row-gap: 1rem;
  margin: 1rem 0rem;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6b03fd;
  width: 315px;
  height: 50px;
  border-radius: 99px;
  padding: 0.2rem 1rem;
  column-gap: 0.6rem;
  color: #dedede;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
}

.button:hover {
  background-color: #720dff;
  color: #ffffff;
  transition: all 0.5s;
}