.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 15px;
  flex-grow: 1;
  width: 100%;
  cursor: default;
}

.image {
  width: 250px;
}

.title {
  color: #7755ff;
}

.description {
  font-size: 20px;
  color: #e5e5e5;
}

.value {
  font-size: 18px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.button_home,
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7755ff;
  width: 320px;
  height: 40px;
  border-radius: 30px;
  padding: 0.2rem 1rem;
  column-gap: 0.6rem;
  font-size: 15px;
  color: #ffffff;
  cursor: pointer;
  transition: 0.5s;
}

.button_home:hover,
.button:hover {
  color: #ffffff;
  transition: 0.5s;
  background-color: #6b5bab;
  box-shadow: 0px 0px 10px 5px rgba(119, 85, 255, 0.2);
}

@media (max-width: 870px) {
  .image {
    width: 200px;
  }

  .description {
    font-size: 16px;
    color: #e5e5e5;
  }

  .value {
    font-size: 14px;
  }
}

@media (max-width: 450px) {

  .button_home,
  .button {
    width: 280px;
    height: 35px;
  }
}