.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: default;
  width: 100%;
}

.carts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.change,
.next,
.previuos {
  height: 25px;
  padding: 0 20px;
  border-radius: 5px;
  color: #ffffff;
  background-color: var(--chart-nav-bg);
  transition: 0.5s;
  cursor: pointer;
}

.change:hover,
.next:hover,
.previuos:hover {
  background-color: rgba(198, 72, 73, 0.8);
  box-shadow: 0px 0px 6px 2px rgba(198, 72, 73, 0.2);
  transition: 0.5s;
}

.arrow {
  font-size: 15px;
}

.date {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  color: #7755ff;
}

.indicators {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
}

.indicator {
  border: 1px solid rgba(198, 72, 73, 0.2);
  border-radius: 3px;
  height: 8px;
  width: 50px;
  background-color: transparent;
}

@media (max-width: 1120px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 870px) {

  .navigation,
  .buttons,
  .date {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }
}

@media (max-width: 475px) {
  .date {
    flex-direction: column;
  }
}