.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  cursor: default;
  width: 100%;
}

.carts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.change {
  background-color: #facf24;
  padding: 5px 15px;
  border: 1px solid #25282f;
  border-radius: 5px;
  color: #ffffff;
  transition: 0.5s;
  cursor: pointer;
}

.change:hover {
  transition: 0.5s;
  background-color: #fcd847;
  box-shadow: 0px 0px 10px 2px rgba(252, 216, 71, 0.2);
}

.next,
.previuos {
  padding: 4px 20px;
  border: 1px solid #25282f;
  border-radius: 5px;
  color: #ffffff;
  background-color: #7755ff;
  transition: 0.5s;
  cursor: pointer;
}

.next:hover,
.previuos:hover {
  transition: 0.5s;
  background-color: #6b5bab;
  box-shadow: 0px 0px 10px 2px rgba(119, 85, 255, 0.2);
}

.arrow {
  font-size: 15px;
}

.date {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon {
  color: #7755ff;
}

.indicators {
  display: flex;
  flex-direction: row;
  column-gap: 0.4rem;
}

.indicator {
  border: 1px solid #7755ff;
  border-radius: 3px;
  height: 8px;
  width: 50px;
  background-color: transparent;
}

@media (max-width: 1120px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 870px) {

  .navigation,
  .buttons,
  .date {
    gap: 10px;
  }
}

@media (max-width: 600px) {
  .navigation {
    flex-direction: column;
  }
}

@media (max-width: 475px) {
  .date {
    flex-direction: column;
  }
}