.create_form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  margin-bottom: 1rem;
}

.selected__control {
  width: 195px !important;
  height: 35px !important;
  background-color: var(--main-bg) !important;
  border: 1px solid #6850c9 !important;
  border-radius: 5px !important;
  min-height: 25px !important;
  color: var(--main-font) !important;
}

.selected__control--is-focused {
  border: 1px solid #6850c9 !important;
  box-shadow: none !important;
}

.selected__value-container {
  padding: 0 8px !important;
  margin: 0 !important;
  cursor: pointer !important;
}

.selected__single-value {
  font-size: 16px !important;
  margin: -5px 0 !important;
  color: var(--main-font) !important;
}

.selected__input-container {
  margin: 0 !important;
  color: #c0c1c3 !important;
  font-size: 16px !important;
  min-height: 25px !important;
}

.selected__option {
  padding: 7px 10px !important;
  font-size: 16px !important;
  color: var(--main-font) !important;
  cursor: pointer !important;
  padding: 5px 10px !important;
}

.selected__menu-list {
  background-color: var(--main-bg) !important;
}

.selected__menu-list::-webkit-scrollbar {
  width: 0;
}

.selected__option--is-focused,
.selected__option--is-selected {
  background-color: #7755ff !important;
  min-height: 25px !important;
}

.selected__indicator {
  cursor: pointer !important;
  margin: -5px 0 !important;
}

.selected__indicator-separator {
  display: none !important;
}

.create_input_wrapper {
  display: flex;
  justify-content: center;
  width: 280px;
  position: relative;
}

.create_input {
  width: 100%;
  padding: 8px 20px 8px 8px;
  background-color: var(--input-bg);
  border: 1px solid #6850c9;
  border-radius: 5px;
  font-size: 16px;
  color: var(--input-color);
  transition: 0.3s;
}

.create_input:active,
.create_input:focus {
  border-color: #7755ff;
  box-shadow: 0 0 3px 2px rgb(119 85 255 / 50%);
  background-color: var(--input-active-bg);
  outline: none;
}

.create_buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.create_button {
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  border-radius: 5px;
  background-color: #7755ff;
  font-size: 15px;
  transition: 0.5s;
  color: #f0f0f0;
  cursor: pointer;
}

@media (max-width: 870px) {
  .create_wrapper {
    padding-top: 120px;
  }

  .create_return {
    top: 95px;
  }
}

@media (max-width: 600px) {
  .create_wrapper {
    padding-top: 150px;
  }

  .create_form {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .create_return {
    top: 120px;
  }
}

@media (max-width: 450px) {
  .create_wrapper {
    padding-top: 60px;
  }

  .create_return {
    top: 20px;
  }

  .create_title {
    font-size: 26px;
  }

  .create_subtitle {
    font-size: 13px;
  }
}