.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  column-gap: 8px;
  letter-spacing: 0.02em;
}

.image {
  height: 100%;
  border-radius: 3px;
}

.info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.title {
  font-size: 15px;
}

.calories,
.time {
  font-size: 12px;
  font-weight: 300;
  color: var(--font-pale);
}

.remove {
  font-size: 24px;
  cursor: pointer;
  transition: 0.5s;
  color: rgba(198, 72, 73, 0.3);
}

.remove:hover {
  color: rgba(198, 72, 73, 1);
  transition: 0.5s;
}

.icon {
  font-size: 34px;
  margin-right: 5px;
  color: var(--font-pale);
}