.layout {
  display: flex;
  flex-direction: column;
  background-color: #181a20;
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  row-gap: 30px;
}

.main {
  display: flex;
  flex-grow: 1;
}