.wrapper {
  align-self: flex-start;
  margin-bottom: 30px;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.input {
  height: 30px;
  padding: 0 8px;
  background-color: #1f222a;
  border: 1px solid #7755ff;
  border-radius: 10px;
  font-size: 14px;
  color: #ffffff;
  transition: 0.5s;
}

.input {
  width: 75%;
}

.input:active,
.input:focus {
  background-color: #1e1d31;
  border-color: #6842ff;
  outline: none;
  transition: 0.5s;
}

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button {
  height: 30px;
  width: 40px;
  background-color: #7755ff;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.button:hover {
  transition: 0.5s;
  background-color: #6842ff;
}

.icon {
  font-size: 20px;
  color: #ffffff;
}
