.button_redirect {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  align-self: start;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: rgb(107, 3, 253) 1px solid;
  width: 315px;
  height: 50px;
  border-radius: 99px;
  padding: 0.2rem 1rem;
  column-gap: 0.6rem;
  color: rgb(222, 222, 222);
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  background: none;
}

.button:hover {
  background-color: rgb(107, 3, 253);
  transition: background-color 0.3s;
}
