.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.title {
  margin: 50px 0 30px;
  font-size: 40px;
}

.content {
  display: grid;
  grid-template-columns: repeat(4, 3fr);
  gap: 10px;
  padding-top: 20px;
  width: 100%;
}

@media (max-width: 1120px) {
  .content {
    grid-template-columns: repeat(3, 4fr);
  }
}

@media (max-width: 870px) {
  .content {
    grid-template-columns: repeat(2, 6fr);
  }
}
