.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.home {
  width: 34px;
  height: 34px;
}

.workout {
  width: 40px;
  height: 40px;
}

.food {
  width: 30px;
  height: 30px;
}

.profile {
  width: 30px;
  height: 30px;
}

.home,
.workout,
.food,
.profile {
  fill: #7755ff;
  cursor: pointer;
}