* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Urbanist';
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--main-inActive-bg);
}

*::-webkit-scrollbar-track {
  background-color: var(--input-bg);
  border-radius: 10px;
}

html[data-theme='dark'] {
  --main-bg: #181a20;
  --main-font: #ffffff;
  --font-pale: #d6d1d2;
  --main-active-font: #ffffff;
  --main-inActive-font: #ffffff;
  --main-active-bg: #7755ff;
  --main-inActive-bg: #35383f;
  --icon: #ffffff;
  --icon-header: #181a20;
  --input-bg: #1f222a;
  --input-active-bg: #1e1d31;
  --input-color: #ffffff;
  --meal-card-bg: #1f222a;
  --exercises-box-shadow: 0px 0px 7px 3px #ffffff33;
  --trail: #35383f;
}

html[data-theme='light'] {
  --main-bg: #ffffff;
  --main-font: #212121;
  --font-pale: #212121;
  --main-active-font: #ffffff;
  --main-inActive-font: #7755ff;
  --main-active-bg: #7755ff;
  --main-inActive-bg: #f0ecff;
  --icon: #181a20;
  --icon-header: #7755ff;
  --input-bg: #fafafa;
  --input-active-bg: #f3f0ff;
  --input-color: #212121;
  --meal-card-bg: #e0e0e0;
  --exercises-box-shadow: 0px 0px 8px 4px rgba(24, 26, 32, 0.2);
  --trail: #eeeeee;
}