.registration-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #181B20, #121622);
  color: #fff;
}

.main {
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.title {
  margin-bottom: 50px;
  font-size: 52px;
  text-align: center;
  cursor: default;
}

.subtitle {
  width: 500px;
  margin-bottom: 25px;
  font-size: 22px;
  color: #c0c1c3;
  text-align: center;
  cursor: default;
}

.selects {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  margin-bottom: 40px;
}

.select {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-label {
  align-self: start;
  font-size: 14px;
  margin: 0 0 4px 0;
}

.css-b62m3t-container {
  width: 100% !important;
}

.selector__control {
  background-color: #1f222a !important;
  border: 2px solid #7755ff !important;
  border-radius: 10px !important;
}

.selector__control--is-focused {
  border: 2px solid #7755ff !important;
  box-shadow: none !important;
}

.selector__value-container {
  padding: 0 8px !important;
  margin: 0 !important;
  cursor: pointer !important;
}

.selector__single-value {
  color: #c0c1c3 !important;
  font-size: 18px !important;
}

.selector__input-container {
  margin: 0 !important;
  color: #c0c1c3 !important;
  font-size: 18px !important;
}

.selector__option {
  padding: 7px 10px !important;
  font-size: 18px !important;
  color: #c0c1c3 !important;
  cursor: pointer !important;
}

.selector__menu-list {
  background-color: #1f222a !important;
}

.selector__menu-list::-webkit-scrollbar {
  width: 0;
}

.selector__option--is-focused,
.selector__option--is-selected {
  background-color: #7755ff !important;
}

.selector__indicator {
  cursor: pointer !important;
}

.selector__indicator-separator {
  display: none !important;
}

.buttons {
  width: 500px;
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.back,
.continue {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  border-radius: 30px;
  font-size: 18px;
  color: #ffffff;
  background-color: #7755ff;
  text-decoration: none;
  transition: 0.4s;
  cursor: pointer;
}

.back:hover,
.continue:hover {
  background-color: #6b5bab;
  transition: 0.6s;
  box-shadow: 0px 0px 10px 5px rgba(119, 85, 255, 0.2);
}

@media (max-width: 870px) {
  .title {
    font-size: 42px;
  }

  .subtitle {
    width: 400px;
    font-size: 20px;
  }

  .selects {
    width: 400px;
    margin-bottom: 30px;
  }

  .buttons {
    width: 400px;
  }

  .back,
  .continue {
    padding: 12px 0;
    font-size: 15px;
  }
}

@media (max-width: 450px) {
  .title {
    font-size: 30px;
    margin-bottom: 25px;
  }

  .subtitle {
    width: 290px;
    font-size: 16px;
  }

  .selects {
    width: 290px;
    row-gap: 12px;
  }

  .select__single-value {
    font-size: 16px !important;
  }

  .select__input-container {
    font-size: 16px !important;
  }

  .select__option {
    padding: 5px 10px !important;
    font-size: 16px !important;
  }

  .select-label {
    font-size: 12px;
  }

  .buttons {
    width: 290px;
  }

  .back,
  .continue {
    padding: 10px 0;
    font-size: 13px;
  }
}