.wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 40px 15px 0;
  flex-shrink: 0;
}

.githubs {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.github {
  display: flex;
  align-items: center;
  column-gap: 10px;
  transition: 0.4s;
  cursor: pointer;
  color: var(--footer);
  font-size: 20px;
}

.github:hover {
  color: #7755ff;
  transition: 0.6s;
}

.ref {
  font-size: 14px;
  color: var(--footer);
  text-decoration: none;
  transition: 0.4s;
}

.ref:hover {
  color: #7755ff;
  transition: 0.6s;
}

.year {
  font-size: 14px;
  color: var(--footer);
  cursor: default;
}

.logo {
  width: 60px;
  height: 20px;
  fill: var(--footer);
  stroke: var(--footer);
}

@media (max-width: 870px) {
  .wrapper {
    display: none;
  }
}