.circles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

@media (max-width: 1300px) {
  .circles {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 1120px) {
  .circles {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 800px) {
  .circles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 400px) {
  .circles {
    gap: 15px;
  }
}