input[type='radio'] {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #6b03fd 1px solid;
  width: fit-content;
  background-color: #6b03fd;
  height: 50px;
  border-radius: 99px;
  padding: 0rem 2rem;
  column-gap: 0.6rem;
  color: #dedede;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  background: none;
}

input[type='radio']:hover + label {
  background-color: #6b03fd;
  transition: background-color 0.3s;
}

input[type='radio']:checked + label {
  background-color: #6b03fd;
  transition: background-color 0.3s;
}

label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border-right: none;
  user-select: none;
  border: 1px solid #6b03fd;
}

input[type='radio'] {
  display: none;
}