.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -20px;
}

.main {
  position: relative;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fade-in 1.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.trainings {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

.create {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  font-size: 2rem;
}

.search {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  align-self: start;
}

@media (max-width: 1600px) {
  .trainings {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1120px) {
  .trainings {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 870px) {
  .wrapper {
    margin-top: 100px;
  }

  .trainings {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .wrapper {
    margin-top: 130px;
  }
}

@media (max-width: 450px) {
  .wrapper {
    margin-top: 40px;
  }

  .trainings {
    grid-template-columns: repeat(1, 1fr);
  }
}
