.input_wrapper {
  display: flex;
  justify-content: center;
  width: 400px;
  margin-bottom: 20px;
  position: relative;
}

.input {
  width: 100%;
  padding: 8px 20px 8px 40px;
  background-color: var(--input-bg);
  border-radius: 10px;
  font-size: 16px;
  color: var(--input-color);
  transition: 0.3s;
}

.input:active,
.input:focus {
  border-color: #7755ff;
  box-shadow: 0 0 3px 2px rgb(119 85 255 / 50%);
  background-color: var(--input-active-bg);
  outline: none;
}

.icon_search {
  color: #757575;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 8px;
  left: 13px;
}

.input:active~.icon_search,
.input:focus~.icon_search {
  color: #6842ff;
}

.icon_delete {
  position: absolute;
  font-size: 20px;
  color: #6842ff;
  top: calc(50% - 10px);
  right: 15px;
  cursor: pointer;
}

.input:active.icon_delete,
.input:focus.icon_delete {
  color: #f7f7f7;
}

@media (max-width: 1120px) {
  .input_wrapper {
    margin: 0;
  }
}

@media (max-width: 450px) {
  .input_wrapper {
    width: 100%;
  }

  .input {
    width: 100%;
  }

}